<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="A5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00357076636491138 4.19535398768767E-05 0.0293095941071391"
        rpy="0 0 0" />
      <mass
        value="0.652885471564488" />
      <inertia
        ixx="0.00067000"
        ixy="-0.00000033"
        ixz="-0.00005918"
        iyy="0.00070852"
        iyz="-0.00000295"
        izz="0.00063394" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.00728534808970327 -0.00719684406321904 0.0219997629210604"
        rpy="0 0 0" />
      <mass
        value="0.135332862135994" />
      <inertia
        ixx="0.00018852"
        ixy="0.00000605"
        ixz="-0.00002232"
        iyy="0.00008862"
        iyz="0.00001221"
        izz="0.00017151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.0695"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.0927719161474521 -0.00314351894751758 0.0234568208206985"
        rpy="0 0 0" />
      <mass
        value="1.04903589366043" />
      <inertia
        ixx="0.00134454"
        ixy="-0.00013587"
        ixz="0.00249161"
        iyy="0.01044670"
        iyz="0.00005086"
        izz="0.01000025" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.02 0 0.0435"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.108285762416509 -0.000835709969095932 0.00030963081502397"
        rpy="0 0 0" />
      <mass
        value="0.856398932000594" />
      <inertia
        ixx="0.00048982"
        ixy="-0.00004185"
        ixz="0.00000783"
        iyy="0.00556680"
        iyz="0.00000058"
        izz="0.00551305" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.21 0 0.06"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0459479699688412 0.0051139610934357 -0.0441791004569489"
        rpy="0 0 0" />
      <mass
        value="0.192580100804097" />
      <inertia
        ixx="0.00035858"
        ixy="0.00003365"
        ixz="0.00014324"
        iyy="0.00043131"
        iyz="-0.00004342"
        izz="0.00025083" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.189 0 0"
      rpy="3.1416 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.00311023527000875 -1.47758007803533E-05 0.0546135870003345"
        rpy="0 0 0" />
      <mass
        value="0.658983613915147" />
      <inertia
        ixx="0.00090701"
        ixy="0.00000056"
        ixz="-0.00004724"
        iyy="0.00089429"
        iyz="-0.00000031"
        izz="0.00027608" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.077 0 -0.0845"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.0583019032342906 0.000159801680679902 -0.0078347977753456"
        rpy="0 0 0" />
      <mass
        value="0.628913750332511" />
      <inertia
        ixx="0.00078878"
        ixy="-0.00000197"
        ixz="-0.00006405"
        iyy="0.00103915"
        iyz="-0.00004303"
        izz="0.00073414" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.02895 0 0.0845"
      rpy="3.1416 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
</robot>